:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}

body {
  font-family: "Oswald", sans-serif !important;
  background-color: var(--mainWhite) !important ;
  color: var(--mainDark) !important;
}
.btn-black {
  color: var(--mainDark);
  background: transparent;
  text-transform: capitalize;
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}
.btn-black:hover {
  cursor: pointer;
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}
.cart-icon {
  color: mainYellow;
  cursor: pointer;
  font-size: 1.2rem;
}
.text-blue {
  color: var(--mainBlue);
}
.text-bright {
  color: var(--lightBlue);
}
.title-text {
  font-family: fantasy;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.nav-link {
  color: var(--mainWhite);
  font-size: 1.3rem;
  text-transform: capitalize !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
